@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/placeholders' as *;

.about-section {
  @extend %section;
  width: $smallWidth;
  max-width: $maxWidth;
  margin: 0 auto;
}

.about-section-title {
  @extend %section-title;
}

.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}