@use '../abstracts/variables' as *;
@use '../abstracts/placeholders' as *;

.cocktails-section {
  @extend %section;
}

.cocktails-section-title {
  @extend %section-title;
}

.cocktails-center {
  width: $smallWidth;
  margin: 0 auto;
  max-width: $fullWidth;
  display: grid;
  gap: 2rem;

  @media screen and (min-width: 640px) {
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
  }
}