@use '../abstracts/variables' as *;
@use '../abstracts/placeholders' as *;

.search {
  @extend %section;
  padding-bottom: 0;

  @media (min-width: 640px) {
    margin-top: 1rem;
  }
}

.search-form {
  width: 95vw;
  margin: 0 auto;
  max-width: $maxWidth;
  background: $mainWhite;
  padding: 2rem 1rem;
  text-transform: capitalize;
  border-radius: $mainBorderRadius;
  box-shadow: $lightShadow;

  @media (min-width: 640px) {
    width: $smallWidth;
    padding: 2rem 2.5rem;
  }
}

.form-control label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: $primaryColor;
  text-align: center;

  @media (min-width: 640px) {
    text-align: left;
  }
}

.form-control input {
  width: 100%;
  border: none;
  border-color: transparent;
  background: $mainBackground;
  border-radius: $mainBorderRadius;
  padding: 0.5rem;
  font-size: 1.2rem;
}