@use '../abstracts/variables' as *;
@use '../abstracts/placeholders' as *;

.error-page {
  @extend %section;
  display: flex;
  justify-content: center;
}

.error-container {
  text-align: center;
  text-transform: capitalize;
}