@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/placeholders' as *;

.cocktails-section {
  @extend %section;
  padding-top: 3rem;
}

.cocktails-section-title {
  @extend %section-title;
}

.section-title-no-results {
  @extend %section-title-no-results;
}

.cocktails-center {
  width: $smallWidth;
  margin: 0 auto;
  max-width: $fullWidth;
  display: grid;
  justify-content: center;
  gap: 2rem;

  @media (min-width: 400px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  }

  @media (min-width: 640px) {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}