@use './abstracts/variables' as *;
@use './abstracts/placeholders' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $offWhite;
  background: $mainBlack;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--slantedFont);
  margin-bottom: 1.25rem;
  letter-spacing: $mainSpacing;
}

p {
  margin-bottom: 1.25rem;
}

a {
  text-decoration: none;
  color: $mainBlack;
}

img {
  width: 100%;
  display: block;
}